body {
	text-align:center;
	font-family:verdana;
	}
	
.banner {
	width:400px;
	height:20px;
	top: 20px;
	padding: 50px;
	border-radius:10px;
	background-color:#7777CC;
	color:#FFFFFF;
	display:inline-block;
	font-size:30px;
	}

form {
	top:400px;
	padding: 20px;
	border-radius:5px;
	left: 20%;
	background-color:#AAAACC;
	color:#FFFFFF;
	display:inline-block;
	}

	
